# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

wandb/

# data
data/*
checkpoints/*s

# ignore pytorch models (just being doubly sure)
**/*.ckpt
**/*.pt

**/.ipynb_checkpoints/